<!-- Views/Prueba4.cshtml -->
@model ServidorWeb.Server.Views.Prueba4.MiModelo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <h2>Esta es la vista Prueba4</h2>

    <p>Nombre: @Model.Nombre</p>
    <p>Edad: @Model.Edad</p>
</body>
</html>